*{
    margin: 0;
    padding: 0;
    font-family: "Poppins";
    box-sizing: border-box;
    border: none;
    outline: none;
}

body{
    background: #4e54c8;  
    background: linear-gradient(to bottom right, #6abff8, #4180f6);  
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.wrapper{
    max-width: 400px;
    background-color: #ffffff;
    border-radius: 2em;
    padding: 2em;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.search-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    padding-bottom: 1.5em;
}

.app-title{
    font-size: 1.8em;
}

.app-icon{
    width: 4.5em;
    height: 4.5em;
    border-radius: 50%;
}

.search-bar{
    display: flex;
    align-items: center;
    gap: 20px;
}

.search-input{
    flex: 7;
    padding: 0.8em 1.5em;
    font-size: 1em;
    border: 2px solid rgb(129, 125, 125);
    border-radius: 2em;
    transition: ease-in-out 0.4s;
}

.search-input:focus{
    background-color: #6abff830;
    box-shadow: 0 0 10px 5px #6fcdff;
}

.search-input:focus::placeholder{
    color: #000;
    transition: 0.2s;
}

.search-button{
    flex: 1;
    border-radius: 50%;
    padding: 0.2em 0.5em;
    cursor: pointer;
    background-color: #ffffff;
    border: 2px solid rgb(129, 125, 125);
    transition: ease-in-out 0.2s;
}

.search-button:hover{
    box-shadow: 0 0 10px 5px #6fcdff;
}

.search-button img{
    text-align: center;
}

.weather-result{
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.weather-error {
    display: none;
    text-align: center;
}

.weather-error-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.5em;
    font-size: 0.9em;
}

.weather-error-icon{
    margin-top: 2em;
    margin-bottom: 1.2em;
    padding: 0.2em 0.4em 0.2em 0.4em;
    width: 170px;
    border-radius: 20px;
}

.not-found{
    width: 35px;
}

.weather-icon{
    margin-top: 2em;
    margin-bottom: 0.6em;
    padding: 0.2em 0.4em 0.2em 0.4em;
    width: 160px;
    border-radius: 20px;
    background-color: #26a9e0;
}

.weather-name{
    color: #26a9e0;
    font-size: 1.6em;
    font-weight: 400;
    padding-bottom: 0.4em;
}

.temperature{
    font-size: 1.8em;
    font-weight: 500;
}

.city{
    font-size: 1.6em;
    font-weight: 400;
    padding-bottom: 0.8em;
}

.details{
    margin-top: 1em;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2em;
}

.humidity, .wind{
    display: flex;
    align-items: center;
    gap: 1em;
}

.humidity img, .wind img{
    width: 50px;
}

.hum-per, .wind-speed{
    font-size: 1.1em;
}

.area{
    z-index: -1; /* Set z-index to move the circles behind other content */
}

.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 25s linear infinite;
    bottom: -150px;
    
}

.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}



@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}



